@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    font-size: 20px;
    max-width: 900px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 1em!important;
}

header,
footer {
    box-shadow: 0px 4px 11px 0px black;
    text-align: center;
    padding: 0.6rem;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Libre Baskerville', serif;
}

header {
    font-size: 25px;
}

main {
    text-align: center;
}

h1 {
    font-size: 1.3em!important;
    color: #144106;
}

h2 {
    border-bottom: 1px solid black;
    font-family: 'Libre Baskerville', serif;
    color: #144106;
}

#weekList ul li {
    list-style: none;
    padding-right:40px;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    cursor: pointer;
    border: 1px solid black;
    padding:5px;
    transition-duration: .5s;
}

footer {
    font-size: 1rem;
}

footer p {
    font-size: 1rem;
    color:white;
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}

/* WEEKLY PAGES STYLING */
p {
    font-family: 'Open Sans', sans-serif;
}

.activityLink {
    text-decoration: none;
    font-weight:bold;
    color: #144106;
}

.activityLink:hover {
    cursor: pointer;
    border: 1px solid black;
    padding:5px;
    transition-duration: .5s;
}

h3, h4 {
    font-family: 'Libre Baskerville', serif;
    text-align: left;
    color: #144106;
}

.weeklyNotes {
    text-align: left;
    margin: 0 0 35px 0;
}

.activityBreak {
    margin: 35px 0 0 0;
}

.listHeader {
    font-size: .95em;
    margin: 5px;
}